/*
  Main Stylesheet
*/


/* Modal Styles */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  display: none;
}

.modal--show {
  display: block;
}

.modal__image {
  width: 100%;
  padding: 20px;
}

.thumbnail {
  width: 200px;
}
